.addButton{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    > svg{
        transition: 200ms;
    }
    &.active{
        >svg{
            transform: scale(0.8);
        }
    }
}