.addButton{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > svg{
        transition: 200ms;
    }
    &.active{
        >svg{
            transform: scale(0.8);
        }
    }
}