@import '../variables';
@import './mixins/card-header';
.card{
    &:not(.card--noHeader){
        &::before{
            @include cardHeader();
            content:attr(data-title);
        }
    }
    &.card--workout{
        display: flex;
        flex-direction: column;
        &::before{
            padding: 8px 0.333rem;
            line-height: 1.2rem;
            justify-content: flex-start;
            z-index: 1;
            height:auto;
        }
        &:not(:last-of-type){
            margin-bottom:20px;
        }
    }
    @include boxShadow(0, 0, 4px, 0.4);
    margin: 0 12px;
    background-color: rgba(255,255,255,0.55);
}
