@import '../variables';

@keyframes errorMsgIn{
    0%{
        opacity: 0;
        top:10px;
    }
    100%{
        opacity: 1;
        top:0;
    }
}
.errorMsg{
    font-size:0.7778rem;
    color: $warning;         
    padding: 5px;
    text-align: center;
    &:not(.active){
        display: none;
    }

    &.active{
        opacity:0;
        position:relative;
        top:10px;
        @include animation(errorMsgIn, 300ms);
    }
}