@import '../variables';

//row with golden counter on left
.formatedRow{
    &:not(.formatedRow--withoutMargin){
        &:not(:only-of-type):first-of-type{
            margin-top:10px;
            margin-bottom:5px;
        }
        &:not(:only-of-type):last-of-type{
            margin-top:5px;
            margin-bottom:10px;
        }
        &:not(:first-of-type):not(:last-of-type){
            margin-top:5px;
            margin-bottom:5px;
        }
        &:only-of-type{
            margin-top:0;
            margin-bottom:0;
        }
    }
    margin-left:-2px;
    margin-right:-2px;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:1.667rem;//30px
    padding-left: 1.944rem;
    position:relative;
    counter-reset: formatedRow;
    overflow: hidden;
    @include boxShadow(0, 0, 4px, 0.25);
    &::before, &::after{
        position: absolute;
    }

    &::before{
        content:'';
        background-color:$gold;
        display: block;
        height: 2.222rem;
        width: 2.222rem;
        left: -0.8333rem;
        top: - 0.2778rem;
        transform: rotate(45deg);
        @include boxShadow(0, 0, 2px, 0.25);
    }

    &::after{
        counter-increment: formatedRow;
        content: '40';
        color:white;
        top: 0;
        left: 0;
        font-size: 0.8889rem;
        text-align: center;
        width: 1.389rem;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}