@mixin entriesContainer($containerName){
    > .#{$containerName}__container{
        flex-grow:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        > p {
            margin:0;
            font-size:0.8333rem;
            padding: 20px;
        }
        > .#{$containerName}__entry{
            margin: 10px 0;
            > .formatedRow{
                > p{
                    font-size:1rem;
                    &:first-of-type{
                        flex-grow:1;
                        white-space: nowrap;
                        overflow: auto;
                    }
                    &:last-of-type{
                        width:50px;    
                        padding-left: 5px;
                    }
                }
                > svg{
                    width:50px;
                    font-size:1rem;
                }
            }
        
            > .#{$containerName}__entry__details{
                background-color:white;
                transition: all 400ms;
                overflow:hidden;
                margin: 0 26px;
                max-height:200px;
                padding: 0 5px;
                @include boxShadow(0, 0, 4px, 0.4);
                font-size:0.8333rem;
                > p{
                    display:inline-block;
                    &::after{
                        content:'';
                        display: block;
                        background-color:$gold;
                        border-radius:3px;
                        height:1px;
                    }
                }
    
                > .#{$containerName}__entry__details__content{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    > div{
                        flex-grow:0.5;
                        display: flex;
                    }
                    
                    > .#{$containerName}__entry__details__content__tracker{
                        flex-direction: column;
                        > p{
                        position: relative;
                        text-align: center;
                        max-width: 5.556rem;
                        &::before{
                            position:absolute;
                            bottom:-2px;
                            @include fatCarbProteinUnderLine();
                        }
    
                        &::after{
                            content:'cal';
                            padding-left:4px;
                        }
                        }   
    
                        > div{
                        margin:4px 0;
                        > p{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            line-height:0.8889rem;
                            
                            &::after{
                                content:'g';
                                font-size:0.7778rem;
                            }
    
                            &::before{
                                content:'';
                                width: 8px;
                                height: 8px;
                                border-radius:50%;
                                margin-right: 4px;
                            }
    
                            &.fats::before{
                                background-color:$fats;
                            }
    
                            &.carbs::before{
                                background-color:$carbs;
                            }
                            
                            &.proteins::before{
                                background-color:$proteins;
                            }
                            }
                        }
    
                        }
    
                    > .#{$containerName}__entry__details__content__actions{
                        flex-direction: row;
                        font-size:1.333rem;
                        color: $gold;
                        > div{
                            flex-grow: 0.5;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
    
            &:not(.active){
                > .#{$containerName}__entry__details{
                    max-height:0;
                }
            }
        }
    }
}