@import '../../common/mixins/three-color-underline';

@mixin totalMacrosDisplay($containerName){
    > .#{$containerName}__totalMacros{
        transition: all 300ms;
        overflow:hidden;
        > .wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
            width: 100%;
            max-width: 12.22rem;
            margin: 0 auto;
            margin-top: 1.8rem;
            margin-bottom: 10px;
            
            > div{
                flex-grow:0.33;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                &.fats::before{
                   background-color:$fats; 
                }
                &.carbs::before{
                    background-color:$carbs;
                }
                &.proteins::before{
                    background-color:$proteins;
                }

                &::before{
                    content:'';
                    border-radius:50%;
                    width:0.5rem;
                    height:0.5rem;
                    margin-right:3px;
                }
            }

            &::before, &::after{
                position: absolute;
            }

            &::before{
                content:attr(data-title);
                color: lighten($jet, 25%);
                font-weight: 600;
                font-size:1.222rem;
                top:-1.45rem;
            }
            &::after{
                top:0;
                @include threeColorUnderline();
            }
        }
    }
}