@import '../../variables';
@import '../mixins/card-header';

@keyframes PopIn{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

#alertBg{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    z-index: 12;
    > #displayMessage{
        @include animation(PopIn, 300ms);

        max-width: 22.22rem;

        @media only screen and (max-width: 470px){
            max-width: 85vw;
        }

        margin: 10px;
        background-color: $alertBackground;
        .displayMessage__content > p{
            padding: 15px;
            > span{
                font-weight:900;
                color: $gold;
            }
        }
        .displayMessage__header{
            height: 1.778rem;
            justify-content: space-evenly;
            &.displayMessage__header--noHeader{
                height: 2.556rem;//same as ribbon that will replace normal golden header
            }
            &:not(.displayMessage__header--noHeader){
                @include cardHeader();
                > div {
                    font-size:1rem;
                    width:1.778rem;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: 300ms;
                    &:hover{
                        background-color: white;
                        color: $gold;
                    }
                }
                > h3 {
                    flex-grow:1;
                    line-height: 1.778rem;
                    height: 1.778rem;
                    font-size: 1.333rem;
                    margin:0;
                    padding: 0 5px;
                }
            }
        }
    }
}