#addWorkoutBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#workoutsForToday{
    .workoutsForToday__noExercisesMsg{
        padding: 10px;
        &::before{
            display: block;
            content:'No exercises added for ' attr(data-when) ' yet.';
            text-align: center;
        }
    }

    .exercise{
        .exercise__noSetsMsg{
            text-align: center;
            padding: 20px;
        }
        .exercise__controls{
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items:stretch;
            margin-bottom:10px;
            > div{
                flex: 1 0;
                justify-content: center;
                align-items: center;
                display: flex;

                .addButton{
                    font-size: 1.3rem;
                }
            }
        }
    }
}