@import '../../variables';
@mixin cardHeader(){
    color: white;
    background-color: $gold;
    display: flex;
    margin-left: -0.3333rem;
    margin-right: -0.3333rem;
    justify-content: center;
    align-items: center;
    height:2.222rem;
    font-size: 1.333rem;
    font-weight: normal;
    z-index: 5;
    @include boxShadow(0, 0, 4px, 0.4);
    top: -5px;//hide box shadow of card
    margin-bottom: -5px;
    position: relative;
}
