#caloriesCounter{
    .macrosContainer{
        display: flex;
        flex-direction: column;
        > div{
            display:flex;
            flex-direction: row;
            margin:10px 0;
            > div{
                margin:0 5px;
                align-self:flex-end;
            }
            > .progressBar{
                position: relative;
                flex-grow:1;
                background-color: white;
                border-radius: 0 10px 10px 10px;
                height:1.111rem;
                @include boxShadow(0, 0, 4px, 0.4);
                z-index: 1;
                padding:2px;
                > div{
                    border-radius: 0 10px 10px 10px;
                    height:100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    overflow: hidden;
                    position: relative;
                    &::after{
                        content: attr(data-progress)'%';
                        color: white;
                        font-size:0.6111rem;
                        position:absolute;
                        left:0;
                        right:0;
                        bottom:0;
                        top:0;
                        text-align: center;
                    }
                    & > div{
                        border-radius: 0 10px 10px 10px;
                        transition: all 500ms;
                        height:100%;
                        width:0%;
                    }
                    &#barProteins{
                        background-color:rgba($proteins, 0.4);
                        & > div{
                            background-color:$proteins;
                        }
                    }
                    &#barCarbs{
                        background-color:rgba($carbs, 0.4);
                        & > div{
                            background-color:$carbs;
                        }
                    }
                    &#barFats{
                        background-color:rgba($fats, 0.4);
                        & > div{
                            background-color:$fats;
                        }
                    }
                }
                > #warningFats, > #warningCarbs, > #warningProteins{
                    position: absolute;
                    right: 10px;
                    top: -15px;
                }
                &::before{
                    content:attr(data-title);
                    background-color:$gold;
                    color:white;
                    font-size:0.5556rem;
                    line-height: 0.6667rem;
                    text-align: center;
                    position: absolute;
                    top:-0.6667rem;
                    left:0;
                    min-width: 3.333rem;
                    border-radius: 10px 10px 0 0;
                    @include boxShadow(0, -1px, 0, 0.25);
                    font-weight: 300;
                }
            }

            >.displayText{
                min-width:4.444rem;
                max-width:6.944rem;
                p{
                    line-height:1.556rem;
                    font-size:1rem;
                }
            }
        }
    }
}