@import './common/macros-container';
@import './common/entries-container';
@import '../common/mixins/fancy-hr-line';
#caloricDistribution{
    > .wrapper{
        display:flex;
        flex-direction: row;
        overflow:hidden;
        > div{
            flex-shrink:0;
            width:100%;
            transition: all 400ms;
            &:not(.active){
                opacity:0;
            }
            &:first-of-type{
                &.active{
                    margin-left:0;
                }
                &:not(.active){
                    margin-left:-100%;
                }
            }
        }
    }

    .caloricDistribution__mainContainer{
        padding: 15px 5px 5px 5px;
        box-sizing: border-box;
        .caloricDistribution__mainContainer__header{
            .whiteRibbonHeader{
                margin-bottom: -4px;
                .caloricDistribution__mainContainer__displayWeekLabel{
                    font-size: 0.9rem;
                    &::before{
                        content: attr(data-start);
                    }
                    &::after{
                        content: attr(data-end);
                    }
                }
            }
        }

        .caloricDistribution__mainContainer__mainContainer{
            .graphContainer{
                width:100%;
                height: 325px;
                position:relative;
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: space-evenly;
                    li{
                        flex-grow: 1;
                        &:hover, &:focus, &:active{
                            > div{
                                border-left:1px dashed black;
                                border-right:1px dashed black;
                                &:first-of-type{
                                    border-top:1px dashed black;
                                }
                            }
                        }
                    }
                }

               .graphContainer__totalCalories{
                   position: absolute;
                   width: 42px;
                   left:0;
                   top: 0;
                   bottom: 42px;
                   z-index:0;
                   ul{
                    flex-direction: column;
                        li{
                            padding-right: 3px;
                            border-bottom:2px solid $gold;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            p{
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                align-items: center;
                                font-size:14px;
                                height:20px;
                                border-radius: 5px 5px 0 0;
                                @include insetBoxShadow(0.4, false);
                                background-color:white;
                                margin:0;
                            }
                        }
                   }
               } 

               .graphContainer__content{
                    bottom:42px;
                    left:42px;
                    top: 0;
                    right: 0;
                    padding-left:4px;
                    padding-bottom:4px;
                    position:absolute;
                    display:flex;
                    z-index:1;
                    &::before,&::after{
                        content: '';
                        display: block;
                        position: absolute;
                        left:0px;
                        bottom:0;
                    }

                    &::before{
                        top:0;
                        background-color:$gold;
                        width:2px;
                    }

                    &::after{
                        right: 0;
                        background-color:$gold;
                        height:2px;
                    }

                    > ul > li{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: stretch;
                        &::before{
                            content: attr(data-total-calories);
                            font-size: 0.7rem;
                        }
                        &:not(:last-of-type){
                            margin-right:2px;
                        }

                        > div.top{//top is the top visible div (if fats is 0, top will be carbs and so on)
                            border-radius: 5px 5px 0 0;
                        }

                        >   div{
                            transition: all 400ms;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            color:white;
                            font-size:14px;    
                            line-height: 12px;
                            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);

                            &::before, &::after{
                                font-size: 0.55rem;
                            }

                            &::before{
                                content: attr(data-percent)'%';
                                font-weight:900;
                            }
                            &::after{
                                content: attr(data-grams)'g';
                            }

                            &.onlyPercent::after{
                                display: none;
                            }

                            &.noDisplay{
                                &::before, &::after{
                                    display: none;
                                }
                            }

                            &:not(.noDisplay):first-of-type{
                                border-radius: 3px 3px 0 0;
                            }
                        }

                        > div:first-of-type{
                            background-color:$fats;
                        }

                        > div:not(:first-of-type):not(:last-of-type){
                            background-color:$carbs;
                        }

                        > div:last-of-type{
                            background-color:$proteins;
                        }
                    }
                }

                .graphContainer__weekDays, .graphContainer__content{
                    ul li{
                        width: 14.28%;
                    }
                }

               .graphContainer__weekDays{
                    position: absolute;
                    padding-left: 4px;
                    height:42px;
                    left:42px;
                    right:0;
                    bottom:0;
                    z-index:0;
                    ul{
                        flex-direction: row;
                        li{
                            padding-top:12px;
                            position:relative;
                            &:not(:last-of-type){
                                margin-right:2px;
                            }
                            &::before{
                                content:'';
                                background-color:$gold;
                                position: absolute;
                                height:12px;
                                top: 0;
                                left: 0;
                                right: 0;
                                width: 2px;
                                margin: 0 auto;
                            }
                            p{
                                height:30px;
                                @include insetBoxShadow(0.4, false);
                                font-size:14px;
                                background-color:white;
                                border-radius: 0 0 5px 5px;
                                border-top:2px solid $gold;    
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                &::before, &::after{
                                    line-height: 12px;
                                }
                                &::after{
                                    content: attr(data-date);
                                }
                                &::before{
                                    content:attr(data-day);
                                }
                            }
                        }
                    }
               }
            }
        }
    }

    .caloricDistribution__detailsContainer{
        padding-top: 15px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       .caloricDistribution__detailsContainer__header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            > div:first-of-type{
                padding: 15px;
                > .menu-back{
                    width: 32px;
                    height: 32px;
                    padding: 4px;
                    border-radius: 4px;
                    background: $gold;
                    color: white;
                    transform-origin:center;
                    transition: all 400ms;
                    cursor:pointer;
                    @include boxShadow(0px, 0px, 6px, 0.4, true);
                    svg{
                        width:100%;
                        height:100%;
                    }
                    &:hover{
                        background-color: lighten($gold, 5%);
                        transform: scale(0.9);
                    }
                }
            }

            > div:last-of-type{
                padding: 15px 0;
            }
       }
       @include macrosContainerStyling("caloricDistribution__detailsContainer");
       > .wrapper{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @include entriesContainer("caloricDistribution__detailsContainer", true);
        .caloricDistribution__detailsContainer__container{
            position:relative;
            transition: all 400ms;
            max-height:500px;
            overflow:hidden;
            
            .caloricDistribution__detailsContainer__entry{
                z-index: 1;
                margin: 10px;
            }

            > p{
                transition: all 400ms;
            }

            &::before{
                top:0;
                @include fancyHrLine();
            }
            &:not(.active){
                .caloricDistribution__detailsContainer__entry{
                    opacity:1;
                    top:0;
                    animation-name:none;
                }
                max-height:0px;
                > p{
                    opacity:0;
                }
            }
        }
       }
    }
}