@import './common/total-macros-display';

#foodTracker{
    margin-left:35px;//space for whiteRibbonHeader's sides
    margin-right:35px;
    > .foodTracker__totalMacros > .wrapper{
        margin-bottom: 10px;
    }
    
    > .whiteRibbonHeader{
        top: -4px;
    }

    > .hangingSign{
        transition: all 300ms;
        > .wrapper{
            animation-delay:0ms;
        }
    }

    &:not(.active){
        > .hangingSign{
            height:0;
            margin-bottom:15px;
            > .wrapper{
                animation-name: none;
            }
        }
    }

    > .foodTracker__container{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        height:10rem;

        > div:first-of-type{
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        > div.verticalSeparator{
            width:2px;
            background-color: $gold;
            border-radius:5px;

        }

        > div:last-of-type{
            align-items: center;
            justify-content: space-evenly;
            display: flex;
            flex-direction: column;
            padding-top: 0.6111rem;
        }

        .displayText{
            width:4.722rem;
            &#singleFoodCarbs{
                margin: 1rem 0px;
            }
            &#singleFoodQuantity{
                &::before{
                    background-color: $niceBlue;
                }
                input{
                    color:$niceBlue;
                }
            }
            &#singleFoodServingSize{
                &::before{
                    background-color: lighten($niceBlue, 15%);
                }
                input{
                    color:lighten($niceBlue, 15%);
                }
            }
            > input{
                font-size:1.444rem;
                line-height: 1.667rem;
                height:1.667rem;
            }
        }
        
    }
    @include totalMacrosDisplay(foodTracker);
}