@import './common/total-macros-display';
@import './common/food-serving-format';

#foodTracker{
    margin-left:35px;//space for whiteRibbonHeader's sides
    margin-right:35px;
    > .foodTracker__totalMacros > .wrapper{
        margin-bottom: 10px;
    }
    
    > .whiteRibbonHeader{
        top: -4px;
    }

    > .hangingSign{
        transition: 300ms;    
        top: -4px;
        position: relative;
        > .wrapper{
            animation-name: none;
            transition: 300ms;
            transform: translateY(0.6667rem);
        }
    }

    &:not(.active){
        > .hangingSign{
            height:0;
            margin-bottom:15px;
            > .wrapper{
                transform: translateY(-1.667rem);
            }
        }
    }

    > .foodTracker__container{
        @include foodServingFormat();  
    }
    @include totalMacrosDisplay(foodTracker);
}