#foodTracker{
    margin-left:35px;//space for whiteRibbonHeader's sides
    margin-right:35px;
    > .whiteRibbonHeader{
        > .wrapper{
            display: flex;
            flex-direction: row;
            > div:not(#loadServing){
                flex-grow:1;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 10px;
                > input{
                    border:none;
                    outline:none;
                    font-size: 1.111rem;
                }

                > div{
                    background-color:$gold;
                    height:2px;
                    border-radius:5px;
                }
            }
            > div#loadServing{
            width:2.778rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition:all 300ms;
            &:hover{
                svg,p{
                    color: darken($gold, 15%);
                    top:1px;
                }
                background-color: #eee;
            }

            svg{
                transform: skew(-10deg);
            }

            p, svg{
                position:relative;
                transition:all 300ms;
                color: $gold;
            }

            p{
                font-size: 0.4444rem;
                font-weight: bold;
                margin: 0;
            }
            }
        }
    }

    > .hangingSign{
        transition: all 300ms;
        > .wrapper{
            animation-delay:0ms;
        }
    }

    &:not(.active){
        > .hangingSign{
            height:0;
            margin-bottom:15px;
            > .wrapper{
                animation-name: none;
            }
        }
    }

    > .foodTracker__container{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        height:10rem;

        > div:first-of-type{
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        > div.verticalSeparator{
            width:2px;
            background-color: $gold;
            border-radius:5px;

        }

        > div:last-of-type{
            align-items: center;
            justify-content: space-evenly;
            display: flex;
            flex-direction: column;
            padding-top: 0.6111rem;
        }

        .displayText{
            width:4.722rem;
            &#singleFoodCarbs{
                margin: 1rem 0px;
                &::before{
                    background-color: $carbs;
                }
                input{
                    color:$carbs;
                }
            }
            &#singleFoodFats{
                &::before{
                    background-color: $fats;
                }
                input{
                    color:$fats;
                }
            }
            &#singleFoodProteins{
                &::before{
                    background-color: $proteins;
                }
                input{
                    color:$proteins;
                }
            }
            &#singleFoodServingSize{
                &::before{
                    background-color: $niceBlue;
                }
                input{
                    color:$niceBlue;
                }
            }
            &#servingSize{
                &::before{
                    background-color: lighten($niceBlue, 15%);
                }
                input{
                    color:lighten($niceBlue, 15%);
                }
            }
            > input{
                font-size:1.444rem;
                line-height: 1.667rem;
                height:1.667rem;
            }
        }
        
    }

    > .foodTracker__totalMacros{
        transition: all 300ms;
        overflow:hidden;
        > .wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
            width: 100%;
            max-width: 12.22rem;
            margin: 0 auto;
            margin-top: 1.8rem;
            margin-bottom: 10px;
            
            > div{
                flex-grow:0.33;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                &.fats::before{
                   background-color:$fats; 
                }
                &.carbs::before{
                    background-color:$carbs;
                }
                &.proteins::before{
                    background-color:$proteins;
                }

                &::before{
                    content:'';
                    border-radius:50%;
                    width:0.5rem;
                    height:0.5rem;
                    margin-right:3px;
                }
            }

            &::before, &::after{
                position: absolute;
            }

            &::before{
                content:attr(data-title);
                color: lighten($jet, 25%);
                font-weight: 600;
                font-size:1.222rem;
                top:-1.45rem;
            }
            &::after{
                top:0;
                @include fatCarbProteinUnderLine();
            }
        }
    }
}