@import './common/macros-container';
@import './common/entries-container';
@import '../common/mixins/fancy-hr-line';
#pastEntries{

    >  #menuHistoryServings.whiteRibbonHeader{
        margin-top: 15px;
    }
    
    > .pastEntries__container{
        position:relative;
        overflow: hidden;
        transition: all 400ms;
        
        &:not(.active){
            max-height: 0;
        }
        &.active{
            max-height: 500px;
        }

        &::before{
            top:0;
            @include fancyHrLine();
        }

    }


    @include macrosContainerStyling("pastEntries");
    @include entriesContainer("pastEntries");
}