@import 'macros/common/macros-container.scss';
@import 'macros/common/entries-container.scss';
#pastEntries{
    > .hangingSign{
        margin-top: -5px;
    }

    >  #menuHistoryServings.whiteRibbonHeader{
        width: 10.28rem;
        height: 1.667rem;
        margin: 0 auto;
        margin-top: 15px;
        > .wrapper{
            height:1.667rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            > p{
                height: 100%;
                text-align: center;
                flex-grow:1;
            }
            > .menu-left,.menu-right{
                width:1.222rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 0.8889rem;
            }
        }

        &::before,&::after{
            height:80%;
            top:10%;
        }
    }
    
    > .pastEntries__container{
        position:relative;
        overflow: hidden;
        transition: all 400ms;
        
        &:not(.active){
            max-height: 0;
        }
        &.active{
            max-height: 500px;
        }

        &::before{
            top:0;
            @include fancyHrLine();
        }

    }


    @include macrosContainerStyling("pastEntries");
    @include entriesContainer("pastEntries");
}