//this is css for common classes/elements
html {
    font-size:18px;
    font-weight:100;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    background: url("../images/repeat.jpg") repeat white;

    * {
        &:not(.fa) {
            font-family: $coolFont;
            font-weight: 100;
        }
    }
}

p {
    margin:0;
}

.hidden{
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#body {
    min-width: 280px;
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;
    z-index: 1;
    transition: all 500ms;
    display:flex;
    flex-direction: column;
    &.opened{
        padding-top:61px;
    }
}

#header {
    position: absolute;
    z-index: 10;
    left:0;
    right:0;
    white-space: nowrap;
    height: 60px;
    top: -60px;
    @include animation(topIn, 500ms);
    text-align:center;
    > div:first-of-type{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-content: center;
        background-color:$gold;
        transition: all 500ms;
        height:100%;
        @include boxShadow(0, 0, 2px, 0.45, false);
        &.opened{
            margin-top:-61px;
        }
        > h1{
            color:$jet;
            margin:0;
            width:100%;
        }
    }

    > #btnHolder {
        position:relative;
        overflow:hidden;
        width:100%;
        height: 61px;
        background-color:$jet;
        @include boxShadow(0, 0, 2px, 0.45, false);
        > div {
            position:absolute;
            top: 0;
            color:$jet;
            transition: all 0.5s;
            width: 55%;
            height: 100%;
            transform: skew(30deg);
            display:flex;
            flex-direction: row;
            align-items:center;
            justify-content:center;
            overflow:hidden;
            h2 {
                margin:0;
                transform: skew(-30deg);
            }

            &:not(.btnActive):not(.btnHovered){
                background-color:$silver;
            }
            &.btnActive, &.btnHovered {
                background-color: $btnActiveWhite;
            }
        }
        > div:first-of-type{
            left: -5.1%;
        }
        > div:last-of-type {
            right: -5.1%;
        }
    }
}

#pushContent{
    padding-top: 15px;    
    padding-bottom: 10px;
    > div:not(:last-of-type){
        margin-bottom: 18px;
    }
}

//font awesome styles
.fa-exclamation-triangle {
    color: darken($warning, 5%);
    font-size: 0.6667rem;
}

@mixin cardHeader(){
    color: white;
    background-color: $gold;
    display: flex;
    margin-left: -0.3333rem;
    margin-right: -0.3333rem;
    justify-content: center;
    align-items: center;
    height:2.222rem;
    font-size: 1.333rem;
    font-weight: normal;
    z-index: 5;
    @include boxShadow(0, 0, 4px, 0.4);
    top: -5px;//hide box shadow of card
    margin-bottom: -5px;
    position: relative;
}

//component styles
.card{
    &:not(.no-header){
        &::before{
            @include cardHeader();
            content:attr(data-title);
        }
    }
   
    @include boxShadow(0, 0, 4px, 0.4);
    margin: 0 12px;
    background-color: rgba(255,255,255,0.55);
}

.whiteRibbonHeader{
    z-index: 1;
    position: relative;
    margin-bottom: -4px;
    height:2.556rem;
    .wrapper{    
        background-color:white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @include boxShadow(0, 0, 4px, 0.4);
    }
    .whiteRibbon__background{
        position: absolute;
        height:100%;
        top:0;
        width:1.111rem;
        z-index:-2;

        #shadow feDropShadow{
            flood-color: rgba(52, 49, 50, 0.75);
        }

        &.whiteRibbon__background--left{
            right:100%;
        }
        &.whiteRibbon__background--right{
            left:100%;
            svg{
                transform: rotate(180deg);
            }
        }
    }
    
    &.whiteRibbonHeader--header{
        margin: 0 -0.2778rem;
    }

    &.whiteRibbonHeader--centered{
        margin: 0 auto;
    }

    &.whiteRibbonHeader--box{
        margin: 0 1.111rem;//makes sure the whiteribbon is space-aware
    }

    &.whiteRibbonHeader--withArrowsAndText{
        width: 11.28rem;
        height: 1.667rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p{
            height: 100%;
            flex-grow:1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        .menu-left,.menu-right{
            width:1.222rem;
            font-size: 0.8889rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
}

@mixin textFieldStyle{
    outline: none;
    border: none;
    margin: 0;
    width:100%;
    background-color: $white;
    @include insetBoxShadow(0.25, false, 10px);
    border-radius: 0px 0px 5px 5px;
    font-size: 1.333rem;
    text-align: center;
}

.textFieldStyle{
    @include textFieldStyle();
}


.displayText {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    &::before {
        content: attr(data-title);
        display: block;
        background-color: $gold;
        color: $white;
        font-size: 0.5556rem;
        line-height: 0.6111rem;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        text-align: center;
        font-weight: 300;
    }

    p, input {
        flex-grow:1;
        @include textFieldStyle();
    }

    &[data-title='FATS']{
        input{
            color: $fats;
        }
        &::before{
            color: white;
            background-color: $fats;
        }
    }
    &[data-title='CARBS']{
        input{
            color: $carbs;
        }
        &::before{
            color: white;
            background-color: $carbs;
        }
    }
    &[data-title='PROTEIN']{
        input{
            color: $proteins;
        }
        &::before{
            color: white;
            background-color: $proteins;
        }
    }
}

@mixin fancyHrLine(){
    content:'';
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(52, 49, 50, 0.75), rgba(0, 0, 0, 0));
    height:1px;
    position:absolute;
    left:0;
    right:0;
}

.hoverableGoldButton{
    width: 100%;
    height: 1.778rem;
    position:relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms;
    transition-delay: 100ms;
    &:not(.withoutSeparator){
        height:1.833rem;
        &::after{
            @include fancyHrLine();
            top:0
        }
    }

    &::before{
        content: attr(data-text);
        display: block;
        font-size:1rem;
        z-index: 1;
    }
    
    > div{
        z-index: 0;
        position:absolute;
        background-color: $gold;
        margin-top:1px;
        top:0;
        bottom:0;
        transition: all 200ms;
        transition: box-shadow 200ms;
        transition-delay:50ms;
        @include boxShadow(0, 1px, 2px, 0.45, false);
    }

    &.active{
        background-color:$gold;
        > div{
            width:50%;
            @include boxShadow(0, 1px, 2px, 0, false);
            &:first-of-type{
                transform: skew(0deg);
                left:0;
            }
    
            &:last-of-type{
                transform: skew(0deg);
                right:0;
            }
        }
    }

    &:not(.active){
        &::before{
            color: $jet;
        }

        > div{
            width:2.222rem;

            &:first-of-type{
                transform: skew(45deg);
                left:-1.389rem;
            }
    
            &:last-of-type{
                transform: skew(-45deg);
                right:-1.389rem;
            }
        }
    }
}

@keyframes slideDownHangingSign{
    0%{
        top:-1.667rem;
    }

    100%{
        top:0.6667rem;
    }
}

.hangingSign{
    height:2.778rem;
    overflow:hidden;
    > .wrapper{
        position: relative;
        width:8.889rem;
        margin:0 auto;
        top:-1.667rem;
        @include animation(slideDownHangingSign, 1s, forwards);
        animation-delay: 1s;
        &::before, &::after{
            content:'';
            width: 0.2778rem;
            height:0.8889rem;
            position:absolute;
            top:-0.8889rem;
            background-color:$gold;
        }
    
        &::before{
            left:0
        }
    
        &::after{
            right:0;
        }
        background-color:white;
        color: $jet;
        border-radius:0 0 11px 11px;
        @include boxShadow(0, 0, 4px, 0.25);
        margin: 0 auto;
        > p{
            width:100%;
            text-align: center;
            font-size:1rem;
        }
    }
}

//row with golden counter on left
.formatedRow{
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:1.667rem;//30px
    padding-left: 1.944rem;
    margin-left:-2px;
    margin-right:-2px;
    position:relative;
    counter-reset: formatedRow;
    overflow: hidden;
    @include boxShadow(0, 0, 4px, 0.25);
    &::before, &::after{
        position: absolute;
    }

    &::before{
        content:'';
        background-color:$gold;
        display: block;
        height: 2.222rem;
        width: 2.222rem;
        left: -0.8333rem;
        top: - 0.2778rem;
        transform: rotate(45deg);
        @include boxShadow(0, 0, 2px, 0.25);
    }

    &::after{
        counter-increment: formatedRow;
        content: '40';
        color:white;
        top: 0;
        left: 0;
        font-size: 0.8889rem;
        text-align: center;
        width: 1.389rem;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}