$gold: #E8B558;
$silver: #EAEAEA;
$jet: #343132;
$white: white;
$fats: #E96C66;
$proteins: #9cc14d;
$carbs: #e5a877;
$warning: #f70000;
$coolFont: coolFont;
$cancel: #e85858;
$transparent: transparent;
$activeButton: #e8b558;

$background_color_14: #e2e2e2;
$background_color_15: #e0e0e0;
$background_color_16: rgba(255, 255, 255, 0.55);
$background_color_17: #dcdcdc;
$background_color_4: #fdfdfd;
$background_color_5: rgba(234, 234, 234, 0.65);
$background_color_9: #a59fa1;
$background_color_11: rgba(0,0,0,0.2);

@font-face {
    font-family: "coolFont";
    src: url("./fonts/Kanit-Thin.ttf") format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: "coolFont";
    src: url("./fonts/Kanit-Light.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "coolFont";
    src: url("./fonts/Kanit-Regular.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "coolFont";
    src: url("./fonts/Kanit-ThinItalic.ttf") format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "coolFont";
    src: url("./fonts/Kanit-LightItalic.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
}

@mixin animation($name, $duration, $fillMode: forwards, $direction: normal) {
    animation-name: $name;
    animation-fill-mode: $fillMode;
    animation-duration: $duration;
    animation-direction: $direction;
}

@mixin boxShadow($p1: 0px, $p2: 0px, $p3: 10px, $amount: 0.2, $withTransition: true) {
    transition: all 0.5s;
    box-shadow: $p1 $p2 $p3 rgba(0, 0, 0, $amount);
    -webkit-box-shadow: $p1 $p2 $p3 rgba(0, 0, 0, $amount);

    @if($withTransition == true) {
        &:hover {
            box-shadow: $p1 $p2 $p3 rgba(0, 0, 0, $amount + 0.1);
            -webkit-box-shadow: $p1 $p2 $p3 rgba(0, 0, 0, $amount + 0.1);
        }

        &:focus {
            box-shadow: $p1 $p2 $p3 rgba(0, 0, 0, $amount + 0.1);
            -webkit-box-shadow: $p1 $p2 $p3 rgba(0, 0, 0, $amount + 0.1);
        }
    }
}

@mixin insetBoxShadow($amount, $withTransition: true) {
    transition: all 0.5s;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, $amount);
    -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, $amount);

    @if($withTransition == true) {
        &:hover {
            box-shadow: inset 0px 0px 3px rgba(0, 0, 0, $amount + 0.1);
            -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, $amount + 0.1);
        }

        &:focus {
            box-shadow: inset 0px 0px 3px rgba(0, 0, 0, $amount + 0.1);
            -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, $amount + 0.1);
        }
    }
}


@keyframes topIn {
    from {
        top: -60px;
    }

    to {
        top: 0;
    }
}

@keyframes popIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes shake {
    0% {
        color: inherit;
        transform: rotate(0deg);
    }

    33% {
        color: $warning;
        transform: rotate(5deg);
    }

    66% {
        color: $warning;
        transform: rotate(-5deg);
    }

    100% {
        color: inherit;
        transform: rotate(0deg);
    }
}


html {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    background: url("../images/repeat.jpg") repeat white;

    * {
        &:not(.fa) {
            font-family: $coolFont;
            font-weight: 100;
        }
    }
}

.gold-bg {
    background-color: $gold;
}

.silver-bg {
    background-color: $silver;
}

.jet-bg {
    background-color: $jet;
}

.gold-fg {
    color: $gold;
}

.silver-fg {
    color: $silver;
}

.jet-fg {
    color: $jet;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-xy-hidden {
    overflow-x: hidden;
    overflow-y: hidden;
}

.hidden{
    display: none;
}

.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.both-full {
    width: 100%;
    height: 100%;
}

.margin-0 {
    margin: 0;
}

.margin-top-10 {
    margin-top: 10px;
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.parent {
    display: table;
}

.child {
    display: table-cell;
    vertical-align: middle;
}

.position-fixed {
    position: fixed;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.padding-20 {
    padding: 20px;
}

.break-word {
    word-break: break-word;
}

#body {
    min-width: 280px;
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;
    z-index: 1;

}

.fa-exclamation-triangle {
    color: darken($warning, 5%);
    font-size: 18px;
}

.parallelogram {
    width: 55%;
    height: 60px;
    transform: skew(30deg);

    h2 {
        transform: skew(-30deg);
        line-height: 60px;
    }
}

#btnHolder {
    height: 61px;
}

#btnMacros, #btnWorkouts  {
    top: 0;
    transition: all 0.5s;
}
#btnMacros{
    left: -5.1%;
}
#btnWorkouts {
    right: -5.1%;
}

.btnActive {
    background-color: $background_color_4 !important;
}

.btnHovered {
    background-color: $background_color_4 !important;
}

.opacity-0 {
    opacity: 0;
}

#pushContent {
    left: 0;
    top: 0;

    > div {
        position: relative;
        opacity: 0;
        top: 105%;
        transition-timing-function: ease-in-out;

        &:nth-child(odd) {
            left: 0;
        }

        &:nth-child(even) {
            right: 0;
        }
    }

    > .animatedIn {
        top: 0;
        opacity: 1;
        transition: all 500ms;
    }

    & > .animatedIn.animatedOut, & > #workoutsToday > .individualExercise.animatedOut {
        transition: all 250ms;

        &:nth-child(odd) {
            left: -100%;
        }

        &:nth-child(even) {
            right: -100%;
        }
    }
}

.coolBorder {
    border: 1px solid #a59fa1;
}

.generalSheetFormating {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding: 5px;
}

.generalSheetFormating.withGold {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: $gold;
        bottom: -25px;
        transform: rotate(45deg);
        left: -25px;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: $gold;
        bottom: -25px;
        transform: rotate(45deg);
        right: -25px;
    }
}

.generalSheetFormating.silver-bg {
    background-color: $background_color_5;
}

#caloriesCounter {
    margin-top: 80px;

    p {
        font-size: 22px;
        margin: 0;
    }
}

.formatP {
    font-size: 22px;
    margin: 0;
}

#caloriesCounterHistory {
    p {
        font-size: 22px;
        margin: 0;
    }
}

.showBar {
    height: 20px;
}

.barLoad {
    transition: all 0.5s;
    left: 0;
    width: 0%;
    top: 0;
    height: 100%;
}

#barFatsHistory, .fatsTable, #barFats {
    background-color: $fats;
}

#barCarbs, #barCarbsHistory, .carbsTable {
    background-color: $carbs;
}

#barProteins, #barProteinsHistory, .proteinsTable {
    background-color: $proteins;
}

.separator {
    width: 60%;
    margin-left: 20%;
    height: 1px;
    background-color: $background_color_9;
}

#setGoals {
    margin-top: 5px;
    margin-bottom: 5px;

    .buttonStyled {
        &:hover {
            transform: scale(0.8);
        }
    }
}

.buttonStyled {
    padding: 5px 10px;
    border-radius: 3px;
    transition: color 0.2s, background-color 0.5s, border-color 0.5s, transform 0.5s;
    cursor: pointer;
    min-width: 110px;

    &:hover {
        color: $white;
        border: 1px solid #343132;
        background-color: $gold;
    }
}

#cancel {
    &:hover {
        background-color: $cancel;
    }
}

.transition-all-0-5 {
    transition: all 0.5s;
}

.invisible {
    opacity: 0;
}

#alertBg {
    opacity: 0;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background_color_11;

    textarea {
        background-color: $background_color_16;
        margin-top: 5px;
        font-size: 18px;
    }
}

#displayMessage {
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    max-width: 400px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
    @include animation(popIn, 400ms);
    border-radius: 5px;

    > h3 {
        &:first-of-type {
            word-break: break-word;
            text-transform: capitalize;
            font-size: 22px;
            border-bottom: 1px solid #a59fa1;
            padding-bottom: 5px;
            width: 100%;
            margin-bottom: 10px;
            margin-top: 0;
        }
    }

    .buttonStyled {
        font-size: 18px;
        margin: 0 1%;
        width: 48%;
    }

    label {
        font-size: 22px;
        padding-left: 10px;
    }
}

.tableStyling {
    margin-top: 10px;

    h3 {
        line-height: 35px;
        margin: 0;
    }

    table {
        max-width: 360px;
        margin: 0 auto;

        tr {
            td {
                width: 50%;

                &:last-of-type {
                    text-align: right;
                }

                input {
                    &:not([type="radio"]) {
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }
}

#setGoalsInputsTwo {
    margin-top: 10px;

    table {
        tr {
            &:first-of-type {
                input {
                    max-width: 170px;
                    width: 90%;
                    margin-right: 5%;
                }
            }

            &:not(:first-of-type) {
                input {
                    max-width: 55px;
                }
            }
        }
    }

    h3 {
        margin: 10px 0px;
    }

    input {
        max-width: 170px;
        vertical-align: top;
        border: none;
        outline: none;
        background-color: $transparent;
        font-size: 20px;
        text-align: center;
        border-bottom: 1px dashed #a59fa1;
    }

    tr {
        &:not(:first-of-type) {
            h3 {
                &:not(.percentageSign) {
                    padding-left: 35px;
                    margin-right: -35px;
                }
            }
        }
    }
}

#setGoalsInputs {
    span.gText {
        display: inline-block;
        width: 10%;
        font-size: 25px;
        vertical-align: middle;
        margin-right: 0px;
        margin-right: calc(20px - 10px);
    }

    input {
        display: inline-block;
        width: 90%;
        width: calc(90% - 10px);
        margin-bottom: 10px;
        vertical-align: middle;
        border: none;
        outline: none;
        background-color: $transparent;
        font-size: 35px;
        text-align: right;
        margin: 0;
        padding-right: 10px;
    }
}

.inputStyling {
    input {
        margin-bottom: 10px;
        vertical-align: top;
        border: none;
        outline: none;
        max-width: 160px;
        background-color: $transparent;
        font-size: 20px;
        text-align: center;
        border-bottom: 1px dashed #a59fa1;
    }
}

.alertServings {
    #servingSize {
        margin-bottom: 10px;
        vertical-align: top;
        border: none;
        outline: none;
        max-width: 160px;
        background-color: $transparent;
        font-size: 20px;
        text-align: center;
        border-bottom: 1px solid #a59fa1;
        margin: 0 auto;
        border: none;
        font-size: 55px;
        height: 45px;

        &:focus {
            &::placeholder {
                font-size: 0;
            }
        }
    }

    h3 {
        min-width: 200px;
    }

    p {
        &:first-of-type {
            margin-bottom: 0;
        }
    }
}

.textNextToRadioOnAlert {
    margin-bottom: 0px;
    margin-left: 5px;
    margin-top: 10px;
}

.errorMsg {
    margin: 0;
    display: none;
}

#gramsPrecentagesSwitch {
    width: 90%;
    border: 1px solid #a59fa1;
    margin: 0 auto;
    position: relative;
    margin-top: 15px;
    border-radius: 5px;

    div {
        &:first-of-type {
            width: 1px;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: 0 auto;
            background-color: $background_color_9;
        }
    }

    p {
        font-size: 22px;
        margin: 0;
        padding: 10px;
        width: 50%;
        text-align: center;
    }

    p.active {
        background-color: $activeButton;
        color: $white;
    }
}

.percentageSign {
    width: 10%;
}

.margin-top-15 {
    margin-top: 15px;
}

#foodTracker {
    h3 {
        margin: 0;
    }

    .macroBlock {
        p {
            margin: 0;
        }
    }
}

#favoriteName {
    font-size: 25px;
    margin: 0 auto;
    width: 80%;
    border: none;
    background-color: $transparent;
    border-bottom: 1px solid #a59fa1;

    &:focus {
        outline: none;
    }
}

#exerciseList {
    font-size: 25px;
    margin: 0 auto;
    width: 80%;
    border: none;
    background-color: $transparent;
    border-bottom: 1px solid #a59fa1;

    &:focus {
        outline: none;
    }
}

#foodName {
    font-size: 24px;
    margin: 0 auto;
    width: 80%;
    border: none;
    background-color: $transparent;
    border-bottom: 1px solid #a59fa1;

    &:focus {
        outline: none;
    }
}

.macroBlock {
    input {
        &:focus {
            outline: none;
        }

        border: none;
        background-color: $transparent;
        font-size: 40px;
        height: 40px;
        width: 100%;
    }

    &:not(#singleFoodServingSize) {
        width: 33%;
    }

    p {
        font-size: 16px;
    }
}

#singleFoodServingSize {
    p {
        margin: 0 auto;
    }

    input {
        margin: 0 auto;
        margin: 0 auto;
        height: 60px;
        font-size: 60px;
    }
}

#loadServing {
    margin-bottom: 0;
}

.fatsRed {
    color: $fats;
}

.proteinsGreen {
    color: $proteins;
}

.carbsOrange {
    color: $carbs;
}

.buttonStyledTwo {
    margin: 0 auto;
}

.errorField {
    animation-name: shake;
    animation-duration: 1s;
}

.box-shadow {
    @include boxShadow();
}

.vertical-align-top {
    vertical-align: top;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

#dailyHistory {
    min-height: 200px;
}

#entriesContainer {
    > .parent {
        min-height: 155px;
    }
}

.singleServingLoadedEntry {
    white-space: nowrap;
    overflow: hidden;
    height: 46px;
    transition: all 500ms;
    position: relative;

    > div {
        &:nth-of-type(2) {
            > p {
                span {
                    &:last-of-type {
                        transition: all 500ms;
                        font-size: 20px;
                        vertical-align: middle;
                        margin-left: 10px;
                        transform-origin: center;
                    }
                }
            }

            width: 35%;
            text-align: right;
            vertical-align: top;
            display: inline-block;

            p {
                padding: 8px;
                width: 100%;
                margin: 0;
                font-size: 22px;
            }
        }

        &:first-of-type {
            width: 65%;
            display: inline-block;
            overflow-x: auto;
            vertical-align: top;

            p {
                padding: 8px;
                width: 100%;
                margin: 0;
                font-size: 22px;
            }
        }

        &:nth-of-type(4) {
            position: absolute;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(164, 159, 161), rgba(0, 0, 0, 0));
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100%;
            top: 0;
        }

        &:nth-of-type(5) {
            position: absolute;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(164, 159, 161), rgba(0, 0, 0, 0));
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100%;
            bottom: 0;
        }
    }

    &:hover {
        background-color: $background_color_14;
    }

    .innerContents {
            &:last-of-type {
                position: absolute;
                height: 1px;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(164, 159, 161), rgba(0, 0, 0, 0));
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 100%;
                top: 0;
            }
    }

    > .innerContents {
        width: 100%;
        height: 0px;
        overflow: hidden;
        transition: all 500ms;
        position: relative;

        > div {
            &:first-of-type {
                width: 100%;

                > p {
                    &:first-of-type {
                        text-align: left;
                        width: 100%;
                        padding-top: 5px;
                        font-size: 20px;
                    }

                    padding-left: 10px;
                }

                > div {
                    &:first-of-type {
                        width: 50%;
                        display: inline-block;
                        vertical-align: top;
                        height: 120px;
                        text-align: center;

                        p {
                            font-size: 20px;
                            text-align: left;
                            padding-left: 25px;
                        }

                        > ul {
                            text-decoration: none;
                            list-style-type: none;
                            padding: 0;
                            margin: 0;

                            > li {
                                &:nth-of-type(1) {
                                    > p {
                                        color: $fats;
                                    }
                                }

                                &:nth-of-type(2) {
                                    > p {
                                        color: $carbs;
                                    }
                                }

                                &:nth-of-type(3) {
                                    > p {
                                        color: $proteins;
                                    }
                                }

                                > p {
                                    > span {
                                        color: $jet;
                                    }
                                }
                            }
                        }
                    }

                    &:last-of-type {
                        width: 50%;
                        display: inline-block;
                        vertical-align: top;
                        height: 120px;
                        text-align: center;

                        span {
                            line-height: 120px;
                            font-size: 30px;
                            width: 100%;
                        }

                        > div {
                            width: 50%;
                            display: inline-block;
                            height: 100%;
                            text-align: center;
                        }
                    }
                }
            }
        }

        p {
            margin: 0;
        }
    }

    > .innerContents.open {
        height: 155px;
    }
}

.singleServingLoadedEntry.open {
    height: 201px;

    > div {
        &:nth-of-type(2) {
            > p {
                span {
                    &:last-of-type {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

.saveEntry {
    transition: all 100ms;
    opacity: 0.7;
    transform-origin: center;

    &:hover {
        opacity: 1;
        transform: scale(0.9);
    }
}

.removeEntry {
    transition: all 100ms;
    opacity: 0.7;
    transform-origin: center;

    &:hover {
        opacity: 1;
        transform: scale(0.9);
    }
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-22 {
    font-size: 22px;
}

#menuHistoryServings, #menuHistoryWorkouts {
    .menu-right {
        top: 0;
        transform-origin: center;
        transition: all 50ms;
        right: 0;

        span {
            line-height: 40px;
            width: 40px;
        }
    }

    .menu-left {
        top: 0;
        transform-origin: center;
        transition: all 50ms;
        left: 0;

        span {
            line-height: 40px;
            width: 40px;
        }
    }

    .menu-right.btnHover {
        transform: scale(0.9);
        opacity: 0.6;
    }

    .menu-left.btnHover {
        transform: scale(0.9);
        opacity: 0.6;
    }
}

#menuHistoryServings.position-relative.w-100 {
    p {
        line-height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #a59fa1;
    }
}

#menuHistoryWorkouts.position-relative.w-100 {
    p {
        line-height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #a59fa1;
    }
}

input#favoriteName {
    &:focus {
        &::placeholder {
            font-size: 0;
        }
    }
}

input#exerciseList {
    &:focus {
        &::placeholder {
            font-size: 0;
        }
    }
}

.alertExercises {
    #createNewExercise {
        width: 100%;
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
    }
}

#favoriteSelect {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;

    &:not(.noEditNote) {
        &::before {
            content: '(hold to edit)';
            display: block;
            text-align: center;
            opacity: 0.5;
        }
    }

    > p {
        line-height: 30px;
        margin: 0;
        margin-bottom: 10px;
    }

    > div.favoriteEntry {
        &:not(.hidden){
            display: flex;
            justify-content: space-between;
        }

        p {
            padding: 5px 10px;
            margin: 0px;
            line-height: 20px;
        }

        &:hover {
            p {
                background-color: $background_color_14;
            }
        }

        > div {
            flex:1;

            > p {
                &:not(.deleteFavorite) {
                    font-size: 22px;
                    overflow-y: hidden;
                    overflow-x: auto;
                }
            }
        }

        > p.deleteFavorite {
            font-size: 20px;
            text-align: center;

            > span {
                opacity: 0.7;
                transition: all 100ms;
                transform-origin: center;
                right: 2px;
            }

            &:hover {
                > span {
                    opacity: 1;
                    transform: rotate(9deg);
                }
            }
        }
    }
}

#exerciseSelect {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;

    &:not(.noEditNote) {
        &::before {
            content: '(hold to edit)';
            display: block;
            text-align: center;
            opacity: 0.5;
            margin-bottom: 10px;
        }
    }

    > p {
        line-height: 30px;
        margin: 0;
        margin-bottom: 10px;
    }

    > div {
        > div.workoutEntry {
            p {
                padding: 5px 10px;
                margin: 0px;
                line-height: 20px;
            }

            &:hover {
                p {
                    background-color: $background_color_14;
                }
            }

            > div {
                width: 80%;
                display: inline-block;
                vertical-align: top;

                > p {
                    &:not(.deleteWorkout) {
                        font-size: 22px;
                        overflow-y: hidden;
                        overflow-x: auto;
                    }
                }
            }

            > p.deleteWorkout {
                font-size: 18px;
                width: 20%;
                display: inline-block;
                vertical-align: top;
                text-align: right;

                > span {
                    opacity: 0.7;
                    transition: all 100ms;
                    transform-origin: center;
                    vertical-align: middle;
                    right: 2px;
                }

                &:hover {
                    > span {
                        opacity: 1;
                        transform: rotate(9deg);
                    }
                }
            }
        }

        position: relative;
        margin: 22px 0px;
        display: inline-block;
        width: 100%;

        &:empty {
            display: none;
        }

        &:last-of-type {
            margin-bottom: 0px;
        }

        &::before {
            content: attr(data-category-name);
            display: block;
            position: absolute;
            top: -35px;
            left: 10px;
            font-size: 18px;
            border-bottom: 1px dashed #a59fa1;
        }
    }

    > div.last {
        margin-bottom: 0px;
    }
}

#titleForDelete {
    span {
        font-weight: 900;
        opacity: 0.6;
    }
}

#statsBox {
    height: 230px;
    width: 100%;
}

#calorieHeader {
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 20px;
    font-size: 14px;
}

#calorieIndex {
    width: 40px;
    display: inline-block;
    vertical-align: top;

    > ul{
        list-style: none;
    }

    .child {
        vertical-align: bottom;
    }

    li {
        height: 16.6%;
    }

    p {
        line-height: 10px;
    }
}

#myDopeTable {
    overflow: hidden;
    width: calc(100% - 40px);
    display: inline-block;
    vertical-align: top;
    height: 100%;
    border-bottom: 1px solid #b5b0b2;
    border-left: 1px solid #b5b0b2;

    > div[data-selected="open"] {
        border: 1px dashed gray;
    }

    > div {
        width: 14.28%;
        display: inline-block;
        text-align: center;
        position: absolute;
        bottom: 0;

        p {
            font-size: 8px;
        }

        &:nth-of-type(1) {
            left: 0;
        }

        &:nth-of-type(2) {
            left: 14.28%;
        }

        &:nth-of-type(3) {
            left: 28.56%;
        }

        &:nth-of-type(4) {
            left: 42.84%;
        }

        &:nth-of-type(5) {
            left: 57.12%;
        }

        &:nth-of-type(6) {
            left: 71.4%;
        }

        &:nth-of-type(7) {
            left: 85.68%;
        }

        > div {
            width: 90%;
            margin: 0 auto;
            color: $white;
        }
    }
}

#xAxisDays {
    width: 100%;
    padding-left: 40px;

    > p {
        display: inline-block;
        vertical-align: top;
        width: 14.28%;
        text-align: center;
        font-size: 11px;
        padding: 5px 0px;
    }
}

#graphOldValuesDisplayer {
    height: 70px;
    font-size: 16px;

    > div {
        > div.row {
            > div {
                &:nth-of-type(1) {
                    > p {
                        font-size: 20px;
                    }
                }
            }

            display: none;
        }

        > p {
            font-size: 20px;
            margin: 0;
            line-height: 70px;
        }
    }
}

#pushContent.workout {
    > div {
        &:not(.hidden) {
            &:first-of-type {
                margin-top: 90px;
            }
        }
    }
}

#exercisesMsg {
    font-size: 22px;
    line-height: 22px;
}

#addWorkoutBtn {
    width: 50px;
    transform-origin: center;
    margin: 0 auto;
    height: 50px;
    transition: all 400ms;

    &:hover {
        transform: scale(0.8);
    }

    &:active {
        transform: scale(0.8);
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        background: white;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
        width: 16px;
        height: 50px;
        top: 0;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        background: white;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
        width: 50px;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
    }

    > div {
        background: white;
        position: absolute;
        z-index: 2;
        width: 50px;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
    }
}

#addWorkoutBtn[data-first="true"] {
    margin-bottom: 40px;

    p {
        font-size: 20px;
        position: absolute;
        top: 100%;
        width: 200px;
        left: 50%;
        transform: translateX(-50%);
    }
}

#workoutsToday {
    display: flex;
    flex-direction: column-reverse;

    > h3 {
        margin: 20px;
    }
}

#separator {
    height: 1px;
    border-top: 1px dashed #343132;
    margin: 30px 5%;
    width: 90%;
}

#noWorkoutsForDate {
    font-size: 20px;
    padding: 20px;
}

.fancySeparator {
    margin: 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.individualExercise {
    margin-top: 45px;
    @include boxShadow();
    margin-left: 11px;
    margin-right: 11px;
    position: relative;
    background: fade($white, 90%);
    padding-top: 10px;

    &:nth-child(even){
        right: 0%;
    }

    &:nth-child(odd){
        left: 0%;
    }

    .workoutHeader {
        @include boxShadow();
        margin: 0;
        position: absolute;
        top: -30px;
        left: -5px;
        width: 100%;
        height: 40px;
        box-sizing: content-box;
        padding: 0px 5px;
        background-color: $gold;
        color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h3 {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-weight: 300;
            padding: 0px 5px;
        }

        span.fa-times {
            font-size: 24px;
            padding: 10px;
        }
    }

    .setsTable {

        .set {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            align-items: center;
            margin: 23px -6px 0px -6px;
            transition: all 200ms;
            background-color: $white;
            @include boxShadow(0px, 0px, 4px, 0.25);

            &:hover, &:focus, &:active {
                margin-left: 0px;
                margin-right: 0px;
            }

            &[data-record='visible'] .recordSection .fa-trophy, &[data-has-note='true'] .recordSection .fa-comment-dots {
                opacity: 1;
            }

            .recordSection, .weightSection {
                flex: 1;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .recordSection {
                span.fa {
                    flex: 1;
                    color: $gold;
                    font-size: 24px;
                    opacity: 0;
                }

                > div {
                    flex: 0.5;
                    z-index: 1;
                    position: relative;
                    overflow: hidden;
                    height: 100%;

                    &::before, &::after {
                        background-color: $gold;
                        position: absolute;
                        top: 0;
                        display: block;
                    }

                    &::before {
                        content: '';
                        width: 40px;
                        height: 40px;
                        left: -10px;
                        transform: rotate(45deg);
                        z-index: -1;
                        @include boxShadow(0px, 0px, 3px, 0.5, false)
                    }

                    &::after {
                        color: $white;
                        content: attr(data-set-index);
                        left: 10px;
                        font-weight: 300;
                    }
                }

                & > * {
                    line-height: 40px;
                    text-align: center;
                }
            }

            .weightSection {
                & > div {
                    flex: 1;
                    height: 100%;
                    margin-right: 32px;
                    position: relative;

                    &::before {
                        display: block;
                        position: absolute;
                        left: 0;
                        top: -10px;
                        background-color: $gold;
                        color: $white;
                        font-size: 10px;
                        height: 11px;
                        line-height: 11px;
                        width: 100%;
                        border-radius: 10px 10px 0px 0px;
                        text-align: center;
                        font-weight: 300;
                    }

                    &:first-of-type::before {
                        content: 'KG';
                    }

                    &:last-of-type::before {
                        content: 'REPS';
                    }

                    p {
                        margin: 0;
                        height: 100%;
                        background-color: $white;
                        @include insetBoxShadow(0.25, false);
                        border-radius: 0px 0px 11px 11px;
                        font-size: 24px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .workoutContent[data-empty="false"] {
        .addSet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;

            & > * {
                flex: 1;
            }

            .totalVolume {
                text-align: center;
                position: relative;
                @include boxShadow(0px, 0px, 4px, 0.25);
                max-width: 150px;
                margin-bottom: 13px;

                &::before {
                    content: 'TOTAL VOLUME';
                    font-weight: 300;
                    background-color: $gold;
                    border-radius: 0px 0px 10px 10px;
                    font-size: 12px;
                    line-height: 12px;
                    height: 13px;
                    position: absolute;
                    bottom: -13px;
                    left: 0;
                    width: 100%;
                    color: $white;
                }

                p {
                    background-color: $white;
                    font-size: 20px;
                    line-height: 30px;
                    height: 30px;
                    width: 100%;
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 300;

                    span {
                        font-weight: 300;
                    }
                }
            }
        }
    }

    .workoutContent[data-empty="true"] {
        .addSet {
            .noSets {
                display: block;
                width: 100%;
                height: 100%;
                font-size: 22px;
                margin-top: 10px;
                text-align: center;
                margin-bottom: 0px;
            }
        }
    }

    .addSet {
        margin: 0;
        text-align: center;
        padding: 10px;

        span.addSetBtn {
            position: relative;
            color: $gold;
            font-size: 36px;
            background-color: $white;
            padding: 0px 2px;
            border-radius: 5px;
            top: 0px;
            transition: all 200ms;
            @include boxShadow(0px, 4px, 4px, 0.2, false);

            &:hover, &:focus, &:active {
                top: 2px;
                @include boxShadow(0px, 0px, 4px, 0.3, false);
            }
        }
    }

    .workoutHistory {
        height: 0px;
        overflow: hidden;
        background: fade($white, 20%);
        @include insetBoxShadow(0.5, true);
    }

    .historyButtonWrapper {
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:hover, &:active, &:focus, &.active {
            &::before, &::after {
                width: 50%;
                transform: skewX(0deg);
                box-shadow: none;
                -webkit-box-shadow: none;
                top: 0px;
            }

            &::before {
                left: 0;
            }

            &::after {
                right: 0;
            }

            p {
                color: $white;
            }
        }

        &::before, &::after {
            transition: all 300ms;
            width: 40px;
            height: 40px;
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
            z-index: -1;
        }

        &::before {
            left: -20px;
            background: $gold;
            transform: skewX(45deg);
        }

        &::after {
            background: $gold;
            transform: skewX(-45deg);
            right: -20px;
        }

        p {
            font-size: 18px;
            line-height: 40px;
            margin: 0;
            text-align: center;
            transition: color 300ms;
        }
    }
}

.workoutContent[data-empty="true"] {
    .addSet {
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
    }
}

#setAddSet {
    span {
        width: 25%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        line-height: 35px;

        &:hover {
            opacity: 0.6;
        }

        &:focus {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.6;
        }
    }

    h3 {
        margin: 10px 0px;
    }

    > div {
        > h3 {
            > span {
                font-size: 15px;
                vertical-align: middle;
            }
        }

        margin: 0px 10px;

        > textarea {
            background-color: $background_color_16;
        }
    }

    input {
        border: none;
        outline: none;
        background-color: $transparent;
        font-size: 24px;
        text-align: center;
        border-bottom: 1px dashed #a59fa1;
        width: 50%;
    }

    .title {
        text-align: center;
    }

    table {
        margin: 10px;

        tr {
            td {
                width: 50%;

                &:first-of-type {
                    text-align: left;
                }

                &:last-of-type {
                    text-align: right;
                }
            }
        }
    }
}

.setsTable {
    width: 100%;
    margin-bottom: 15px;

    tr {
        td {
            &:not(:first-of-type) {
                width: 35%;
                text-align: right;
            }
        }
    }

    tr.set {
        td {
            padding: 5px;
        }
    }
}

.max-width-t {
    max-width: 300px;
    margin: 10px auto;
}

.selectStyle {
    border: none;
    background-color: $transparent;
    border-bottom: 1px dashed #a59fa1;
}

td.withPlaceholder {
    &:not(.hasValue) {
        &::after {
            content: attr(data-placeholder);
            display: block;
            position: absolute;
            top: 50%;
            font-size: 18px;
            left: 0;
            width: 100%;
            text-align: center;
            line-height: 100%;
            transform: translateY(-50%);
            transition: all 400ms;
            z-index: -1;
        }
    }

    &:focus {
        &::after {
            opacity: 0;
            transform: translateY(-100%);
        }
    }

    &:hover {
        &::after {
            opacity: 0;
            transform: translateY(-100%);
        }
    }

    &:active {
        &::after {
            opacity: 0;
            transform: translateY(-100%);
        }
    }
}

.h3To22 {
    h3 {
        font-size: 22px;
    }
}

.optionCategory {
    h3 {
        text-align: left;
        font-size: 20px;

        span {
            font-size: 14px;
            vertical-align: middle;
        }
    }

    &:focus {
        background-color: $background_color_17;
    }

    &:hover {
        background-color: $background_color_17;
    }

    &:active {
        background-color: $background_color_17;
    }

    input[type="radio"] {
        position: absolute;
        left: -25px;
        top: 0;
        height: 100%;
        margin: 0;
    }
}

.categoryTable {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;

    table {
        tbody {
            tr {
                td {
                    &:first-of-type {
                        padding-left: 35px;
                        text-align: left;
                    }
                }
            }
        }
    }

    tr {
        td {
            h3 {
                display: inline-block;
                line-height: 25px;
                border-bottom: 1px dashed #a59fa1;
                margin-bottom: 5px;
            }

            width: 50%;

            p {
                width: 100%;
                overflow-y: hidden;
                overflow-x: auto;
                margin: 0;
                max-height: 50px;
                text-align: left;
                overflow: auto;
            }
        }
    }
}

#addNewCategory {
    font-size: 15px;
    padding: 15px;
    margin: 5px;
    border: 1px dashed transparent;
    border: 1px dashed #a59fa1;
    border-radius: 50%;

    &::before {
        left: 1px;
        position: relative;
        top: 1px;
    }
}

#deleteCategoryBtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    transition: all 400ms;
    padding: 10px;

    &:hover {
        transform: rotate(-15deg);
    }

    &:active {
        transform: rotate(-15deg);
    }

    &:focus {
        transform: rotate(-15deg);
    }
}

#deleteSetBtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    transition: all 400ms;
    padding: 10px;
}

@media (min-width: 300px) {
    #displayMessage {
        .buttonStyled {
            font-size: 20px;
        }
    }
}

@media (max-width: 326px) {
    #gramsPrecentagesSwitch {
        p {
            font-size: 18px;
        }
    }
}

@media (max-height: 420px) {
    #favoriteSelect {
        max-height: 150px !important;
    }

    #exerciseSelect {
        max-height: 150px !important;
    }
}

@media (max-height: 520px) and (min-height:421px) {
    #favoriteSelect {
        max-height: 250px !important;
    }

    #exerciseSelect {
        max-height: 250px !important;
    }
}

@keyframes errorMsgIn {
    from {
        top: 70px;
        opacity:0;
    }
    to {
        top: 100px;
        opacity:1;
    }
}

@keyframes errorMsgOut {
    from {
        top: 100px;
        opacity:1;
    }
    to {
        top: 70px;
        opacity:0;
    }
}

.errorMsgBox{
    position: fixed;
    z-index: 15;
    opacity: 0;
    top: 70px;
    @include animation(errorMsgIn, 600ms);
    left: 0;
    right: 0;
    max-width: 260px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
    & p{
        padding: 5px;
        margin: 0px;
    }
    &.removed{
        @include animation(errorMsgOut, 300ms);
    }
}