$gold: #E8B558;
$silver: #EAEAEA;
$jet: #343132;
$white: white;
$fats: #E96C66;
$proteins: #9cc14d;
$carbs: #e5a877;
$warning: #CA3030;
$coolFont: coolFont;
$cancel: #e85858;
$transparent: transparent;
$activeButton: #e8b558;
$niceBlue: #58B4E8;
$alertBackground: #eaeaea;
$btnActiveWhite: #fdfdfd;


@font-face {
    font-family: "coolFont";
    src: url("./common/fonts/Kanit-ExtraLight.ttf") format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: "coolFont";
    src: url("./common/fonts/Kanit-Light.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "coolFont";
    src: url("./common/fonts/Kanit-Regular.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "coolFont";
    src: url("./common/fonts/Kanit-ExtraLightItalic.ttf") format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "coolFont";
    src: url("./common/fonts/Kanit-LightItalic.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
}

@mixin animation($name, $duration, $fillMode: forwards, $direction: normal) {
    animation-name: $name;
    animation-fill-mode: $fillMode;
    animation-duration: $duration;
    animation-direction: $direction;
}

@mixin boxShadow($p1: 0px, $p2: 0px, $p3: 10px, $amount: 0.2, $withTransition: true) {
    transition: all 0.5s;
    box-shadow: $p1 $p2 $p3 rgba(0, 0, 0, $amount);
    -webkit-box-shadow: $p1 $p2 $p3 rgba(0, 0, 0, $amount);

    @if($withTransition == true) {
        &:hover {
            box-shadow: $p1 $p2 $p3 rgba(0, 0, 0, $amount + 0.1);
            -webkit-box-shadow: $p1 $p2 $p3 rgba(0, 0, 0, $amount + 0.1);
        }

        &:focus {
            box-shadow: $p1 $p2 $p3 rgba(0, 0, 0, $amount + 0.1);
            -webkit-box-shadow: $p1 $p2 $p3 rgba(0, 0, 0, $amount + 0.1);
        }
    }
}

@mixin insetBoxShadow($amount, $withTransition: true, $blur: 3px) {
    transition: all 0.5s;
    box-shadow: inset 0px 0px $blur rgba(0, 0, 0, $amount);
    -webkit-box-shadow: inset 0px 0px $blur rgba(0, 0, 0, $amount);

    @if($withTransition == true) {
        &:hover {
            box-shadow: inset 0px 0px $blur rgba(0, 0, 0, $amount + 0.1);
            -webkit-box-shadow: inset 0px 0px $blur rgba(0, 0, 0, $amount + 0.1);
        }

        &:focus {
            box-shadow: inset 0px 0px $blur rgba(0, 0, 0, $amount + 0.1);
            -webkit-box-shadow: inset 0px 0px $blur rgba(0, 0, 0, $amount + 0.1);
        }
    }
}


